/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* General Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #444;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-display: optional;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Containers */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/hero.jpg');
    background-size: cover;
    background-position: center;
}

.register-sales {
   background-color: #fff; 
   width: 450px;
   padding: 1rem;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.sales-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Elements */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.register-sales > h1 {
    margin-bottom: 0.5em;
    color: #1691fa;
    font-size: 2.4em;
    word-spacing: 0.04em;
    letter-spacing: 0.01em;
    text-align: center;
}

.form-control label {
    margin-bottom: 5px;
    font-size: 1em;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 0.6em;
}

form {
    display: flex;
    flex-direction: column;
}

form > button {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border: 1px solid #48a9fb;
    border-radius: 5px;
    color: #fff;
    background-color: #48a9fb;
    transition: background-color 0.2s;
}

form > button:hover {
    background-color: #1691fa;
}

table {
    border-collapse: collapse;
    border: 1px solid #000;
}

thead {
    /* display: table; */
    width: calc(100% - 17px);
    background-color: #034075;
    color: #fff;
}

tbody {
    display: block;
    max-height: 120px;
    overflow-y: scroll;
}

th, td {
    width: 33.33%;
    padding: 5px;
}

tr {
    display: table;
    width: 100%;
}

td {
    text-align: center;
}

a:link,
a:visited {
    display: inline-block;
    padding: 5px 15px ;
    margin: 0 15px 7px 0 ;
    border: 1px solid #1691fa;
    border-radius: 10px;
    text-decoration: none;
    color: #1691fa;
    font-weight: 400;
    transition: background-color 0.2s, color 0.2s;
}

a:hover {
    background-color: #1691fa;
    color: #fff;
}
